* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  height: 100vh;
  background-color: hsl(217, 100%, 97%);
}

#app-container {
  padding-top: 5rem;
  height: 100vh;
  position: relative;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #app-container {
    width: 70vw;
    height: 75vh;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 80% 20%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow: hidden;
  }
}