#main-content {
  width: 90%;
  padding: 1.3rem;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: relative;
  z-index: 100;
}

.main-content__top {
  padding: .8rem 0;
}

.main-content__title {
  margin-bottom: .5rem;
  font-size: 1.5rem;
  color: hsl(213, 96%, 18%);
}

.main-content__subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(231, 11%, 63%);
}

@media (min-width: 1024px) {
  #main-content {
    margin: 0 auto;
    padding: 1rem 2rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  }

  .main-content__top {
    padding-bottom: 1rem;
  }

  .main-content__title {
    margin: .2rem 0;
    font-size: 1.7rem;
  }

  .main-content__subtitle {
    font-size: .9rem;
  }
}

@media (min-width: 1440px) {
  #main-content {
    padding: 3rem;
  }

  .main-content__top {
    padding: 1rem 0;
    padding-bottom: 2rem;
  }

  .main-content__title {
    font-size: 2rem;
  }
}