.input-wrapper {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.input__label {
  font-size: .8rem;
  color: hsl(213, 96%, 18%);
}

.content__input {
  padding: .5rem 1rem;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: .2rem;
}

.input-border:hover {
  border: 1px solid hsl(243, 100%, 62%);
}

.error-input {
  font-size: .8rem;
  font-weight: 700;
  color: hsl(354, 84%, 57%);
}

.error-display-none {
  display: none;
}

.error-input-border {
  border: 1px solid hsl(354, 84%, 57%);
}

@media (min-width: 1024px) {
  .input-wrapper {
    gap: 0;
  }

  .input__label {
    margin-bottom: .1rem;
  }

  .input-wrapper input {
    padding: .6rem 1rem;
  }

  .error-input {
    position: absolute;
    right: 3rem;
  }
}

@media (min-width: 1440px) {
  .input-wrapper input {
    padding: .8rem 1rem;
  }
}