#step-buttons {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  bottom: 0;
}

.btn {
  padding: .7rem 1rem;
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  border: none;
  border-radius: .2rem;
}

@media (min-width: 1024px) {
  #step-buttons {
    width: 90%;
    padding: 3rem;
    margin: 0 auto;
    align-items: center;
    position: relative;
    grid-column: 2/2;
  }

  .btn {
    padding: 1rem 2rem;
  }
}