.summary__box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 100%, 97%);
  border-radius: .5rem;
}

.summary__box__child {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.text__add-on {
  text-transform: capitalize;
}

.text__add-on,
.summary__box__first-price {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.text__add-on__link:visited {
  color: hsl(243, 100%, 62%);
}

.summary__box__text {
  color: hsl(231, 11%, 63%);
}

.summary__line {
  border: 1px solid hsl(229, 24%, 87%);
}

.summary__total-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.total__price {
  font-weight: 700;
  color: hsl(243, 100%, 62%);
}

@media (min-width: 1028px) {
  .summary__box {
    padding: .5rem;
  }

  .summary__box__child {
    padding: .5rem;
  }

  .text__add-on {
    font-size: .8rem;
  }

  .text__add-on__link {
    font-size: .8rem;
  }

  .summary__box__text {
    font-size: .8rem;
  }

  .summary__total-wrapper {
    padding: 1rem;
  }

  .total__price {
    font-size: 1rem;
  }
}