.user-plans {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.user-plan {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: .5rem;
  cursor: pointer;
}

.user-plan:hover {
  border: 1px solid hsl(243, 100%, 62%);
}

.user-plan__selected {
  background-color: hsl(206, 94%, 87%);
}

.user-plan__detail {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.user-plan__title {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.user-plan__price {
  color: hsl(231, 11%, 63%);
}

.user-plan__trial {
  color: hsl(213, 96%, 18%);
}

.user-plan__switch-time {
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-time__text {
  color: hsl(231, 11%, 63%);
}

.switch-time__box {
  width: 50px;
  margin: 0 1rem;
  padding: .2rem;
  background-color: hsl(213, 96%, 18%);
  border-radius: .5rem;
}

.switch-time__yearly {
  display: flex;
  justify-content: flex-end;
}

.switch-time__circle {
  width: 17px;
  height: 17px;
  background-color: #fff;
  border-radius: 50%;
}

.text-active {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

@media (min-width: 1024px) {
  .user-plans {
    flex-direction: row;
  }

  .user-plan {
    flex-direction: column;
    flex-grow: 1;
    gap: 1rem;
  }

  .user-plan__title {
    font-size: .8rem;
  }

  .user-plan__price {
    font-size: .7rem;
  }

  .user-plan__trial {
    font-size: .7rem;
  }

  .switch-time__text {
    font-size: .8rem;
  }

  .switch-time__box {
    width: 40px;
    padding: .2rem;
  }

  .switch-time__circle {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 1440px) {
  .user-plan {
    gap: 2rem;
  }

  .user-plan__title {
    font-size: 1rem;
  }

  .user-plan__price {
    font-size: 1rem;
  }

  .user-plan__trial {
    font-size: 1rem;
  }

  .switch-time__text {
    font-size: 1rem;
  }

  .switch-time__box {
    width: 50px;
  }

  .switch-time__circle {
    width: 15px;
    height: 15px;
  }
}